body {
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/green-felt-background-texture-poker-casino-table_434420-1498.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    color: white;
    font-family: Casino;
    font-size: 50px;
    text-shadow: 0px 0px 3px white;
}

h1 {
    color: goldenrod;
    text-shadow: 0px 0px 3px goldenrod;
}

@font-face {
    font-family: Casino;
    src: url(../Fonts/casino.ttf);
}

.btn{
    color: #016f32;
    width: 350px;
    height: 80px;
    background: goldenrod;
    font-size: 45px;
    font-family: Casino;
    border-radius: 10px;
    text-shadow: 1px 1px 0px #016f32;
    border: none;
}

.btn:hover {
    background: darkgoldenrod;
}

.align-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start-btn {
    margin-bottom: 10px;
}